MONGO_URI=<YOUR_MONGO_URI>
FERNET_KEY=qSICiYob0h1JBicVR60xiLuSps8uWX5KNDSWZma1E98=
SECRET_KEY="09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7"
ALGORITHM="HS256"
CONTRACT_ADDRESS=<ADDRESS_OF_DEPLOYED_CONTRACT>
OWNER_PRIVATE_KEY=<PRIVATE_KEY_OF_YOUR_METAMASK_WALLET>
VOTER_HASH_SECRET=cbd2a1ed5040626c9e6be2377e9b578cacbb2c52d5aa987970136e2d974cd683